<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>파일 업로드 실습</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
    <h2>신상정보 업로드</h2>

    <form name="dynamic-upload">
        <input type="text" name="id" placeholder="아이디" />
        <br />
        <input type="password" name="pw" placeholder="비밀번호" autocomplete="off" />
        <br />
        <input type="text" name="name" placeholder="이름" />
        <br />
        <input type="text" name="age" placeholder="나이" />
        <br />
        <input type="file" name="userfile" />
        <br />
        <button type="button" onclick="dynamicUpload()">업로드</button>

        <div id="dynamic-upload-result"></div>
        <script>
            function dynamicUpload() {
                const form = document.forms["dynamic-upload"];
                const formData = new FormData();
                formData.append("userfile",form.userfile.files[0])
                formData.append("id", form.id.value)
                formData.append("pw", form.pw.value)
                formData.append("name", form.name.value)
                formData.append("age", form.age.value)

                axios({
                    method:"POST",
                    url: "/upload/dynamic",
                    data : formData,
                    headers: {
                        "Content-type": "multipart/form-data"
                    }
                }).then((res)=>{
                    console.log(res.data)
                    const result = document.getElementById("dynamic-upload-result")
                    result.innerHTML = `<img src ="/${res.data.src}" width="300"/>
                    <h2>${res.data.id}님 환영합니다.</h2>
                        비밀번호:${res.data.pw}
                        <br />
                        이름:${res.data.name}
                        <br />
                        나이:${res.data.age}
                    `
                })
            }
        </script>
            
    
</body>
</html>