<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>소켓</title>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <h3>소켓 연습</h3>
    <button onclick="hello()">hello</button>

    <button onclick="entry()">entry</button>

    <h1>Hello World</h1>

    <button onclick="hi()">hello</button>
    <button onclick="study()">study</button>
    <button onclick="gbye()">bye</button>


    <script>
      const socket = io()
      // 소켓을 이용해 데이터 전송하는 함수 : emit
      // 소켓을 이용해 데이터 수신하는 이벤트 : on

      const text = document.querySelector("text")

      function hi() {
        socket.emit("hi", "hello")
        socket.on("himsg", (res) => {
          text.innerHTML = res
        })

      }

      // function hello() {
      //   // (전송할 이벤트 이름[, 전송할 데이터])
      //   // 전솔할 데이터의 형테는 자유롭게 (문자열, 숫자, 객체)
      //   socket.emit("hello", {
      //     msg: "안녕하세요"
      //   })
      // }
      socket.on("bye", (res) => {
        console.log(res)
      })

      function entry() {
        socket.emit("entry")
      }

      socket.on("notice", (res) => {
        console.log(res.msg)
      })
    </script>
  </body>
</html>